name: CI
on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 8 * * 0"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ['2.9', '3.0', '4']
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - 
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - 
        name: Build ansible ${{ matrix.version }}
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v2
        with:
          push: false
          platforms: linux/arm64, linux/amd64
          tags: fgierlinger/ansible:${{ matrix.version }}
          file: Dockerfile
          build-args: |
            REQUIREMENT=requirements-ansible-${{ matrix.version }}.txt
      - 
        name: Build ${{ matrix.beats }}:${{ matrix.version }} and push
        if: github.event_name == 'push'
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/arm64, linux/amd64
          tags: fgierlinger/ansible:${{ matrix.version }}
          file: Dockerfile
          build-args: |
            REQUIREMENT=requirements-ansible-${{ matrix.version }}.txt
